 <div class="user-details">
  <h1> About Me </h1>
  <!-- <p> {{site.user_description}} </p> -->
  <p> Diego Bravo is a PhD student of Electrical Engineering at the <a href="http://unal.edu.co" target="_blank" rel="noopener noreferrer" class="highlight">Universidad Nacional de Colombia-UNAL</a>, where he works at Computer Imaging and Medical Applications Laboratory <a href="http://cimalab.unal.edu.co/" target="_blank" rel="noopener noreferrer" class="highlight">(CIM@LAB)</a>. He earned a Mechatronics Engineer degree from the Universidad Militar in 2014 and a MSc in Biomedical Engineer degree from the <a href="http://unal.edu.co" target="_blank" rel="noopener noreferrer" class="highlight">UNAL</a> in 2020. His research work revolves around machine learning, information retrieval, and computer vision, with a particular focus on the representation, indexing, and automatic analysis of multimodal data (data encompassing different types of information: textual, visual, signals, etc.).</p>

</div>


<div class="container_resume">
  <h3><a href="/Papers/CV_Diego_Bravo__EN.pdf" target="_blank" class="project-link">Download Resume</a></h3>
</div>
