<div class="user-details">
  <h1> Awards </h1>
</div>


<div class="achievements-list">
  <div class="achievement-item">
    <i class="fa-solid fa-plane-departure"></i> ISBI 2024 Travel Grant.
  </div>

  <div class="achievement-item">
    <i class="fa-solid fa-trophy"></i> Best paper National Congress of Gastroenterology (2023).
  </div>

  <div class="achievement-item">
    <i class="fa-solid fa-trophy"></i> Meritorious Thesis Master's in Biomedical Engineering - Universidad Nacional (2020).
  </div>

  <div class="achievement-item">
    <i class="fa-solid fa-trophy"></i> Best paper Poster Category Colombian Association of Digestive System ACADI (2020).
  </div>

  <div class="achievement-item">
    <i class="fa-solid fa-trophy"></i> Best Academic Average 2017 and 2018.
  </div>
</div>




