<div class="user-details">
  <h1> Education </h1>
</div>

<div class="timeline">
  <div class="timeline-item">
    <div class="timeline-icon">
      <i class="fa-solid fa-cogs"></i>
    </div>
    <div class="timeline-content">
      <h2>PhD. Student in Electrical Engineering - Universidad Nacional de Colombia</h2>
      <span>Jan 2023 – </span>
      <p>Main focus in computer vision. 
        Thesis: Gastric cancer.</p>
    </div>
  </div>
  <div class="timeline-item">
    <div class="timeline-icon">
      <i class="fa-solid fa-graduation-cap"></i>
    </div>
    <div class="timeline-content">
      <h2>M.Sc. in Biomedical Engineering - Universidad Nacional de Colombia</h2>
      <span>Jan 2017 – Dec 2020</span>
      <p>Main focus in computer vision. 
        Thesis: Automatic Detection of Colorectal Polyps.</p>
    </div>
  </div>
  
  <div class="timeline-item">
    <div class="timeline-icon">
      <i class="fa-solid fa-graduation-cap"></i>
    </div>
    <div class="timeline-content">
      <h2>Eng. in Mechatronic Engineering - Universidad Militar Nueva Granada</h2>
      <span>Aug 2014 – Dec 2019</span>
    </div>
  </div>
</div>
