<div id="particles-js">
  <div class="header">      
      <h1>
        <img src="/my_cv/Papers/Foto.png" alt="Foto" class="responsive-image">
        <span class="site-title">{{site.username}}</span>
        <!-- <span class="site-description">{{site.user_title}}</span>
        <span class="research-assistant-description">PhD. Student in Electrical Engineering <br></span>  -->
        <span class="research-assistant-description">PhD. Student in Engineering <br></span>
        <span>
          <span class="research-assistant-description">Research Assistant in AI at</span> 
          <a href="http://cimalab.unal.edu.co/" class="cimalab-link" target="_blank" rel="noopener noreferrer" aria-label="Cim@lab">Cim@lab</a>
        </span>
        
      
      </h1>
      <div class="header-icons">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/ingdiegobravo/"> <i class="icon fa-brands fa-linkedin"></i></a>      
        <a aria-label="My Google Scholar" target="_blank" href="https://scholar.google.com/citations?user=S47_4IcAAAAJ&hl"><i class="icon fa-brands fa-google"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/DiegoBravoH"><i class="icon fa-brands fa-github" aria-hidden="true"></i></a>
        <a aria-label="My ResearchGate" target="_blank" href="https://www.researchgate.net/profile/Diego-Bravo-9" rel="noopener noreferrer"><i class="icon fa-brands fa-researchgate"></i></a>      
        <a aria-label="My Orcid" target="_blank" href="https://orcid.org/0000-0003-1957-1615"><i class="icon fa-brands fa-orcid" aria-hidden="true"></i></a>

                  
        <!--
        <a href="https://www.researchgate.net/profile/Tu-Perfil" class="header-icons rg-image" aria-label="Mi ResearchGate">
            <img src="researchgate.png" alt="ResearchGate" class="icon">
        </a>
        -->       

      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Publications</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
