<div class="user-details">
  <h1> Publications </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/Papers/ISBI2025.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Self-Supervised Learning for Multi-Category Endoscopy classification and Data Quality evaluation Using Masked Autoencoders </h3>
    <p> Accepted <strong>Conference Paper</strong> implementing reviewer-recommended changes. <br>
    <strong>Diego Bravo</strong>, Josué Ruano, Martín Gómez, Fabio A. González, and Eduardo Romero</p>
    <!-- <a href="/Papers/ISBI2025.jpg" target="_blank" class="project-link">PDF</a> -->
    <a href="https://github.com/DiegoBravoH/SSL-Endoscopy-MAE.git" target="_blank" class="project-link">Code</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/Papers/DatabasePhotodocumentation.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> GastroHUN an Endoscopy Dataset of Complete Systematic Screening Protocol for the Stomach </h3>
    <p> Accepted <strong>Journal Paper</strong> under editorial review. <br>
    <strong>Diego Bravo</strong>, Juan Frias, Felipe Vera, Juan Trejos, Carlos Martínez, Martín Gómez, Fabio A. González, and Eduardo Romero</p>
    <a href="/Papers/DatabasePhotodocumentation.jpg" target="_blank" class="project-link">PDF</a>
    <a href="https://github.com/Cimalab-unal/GastroHUN" target="_blank" class="project-link">Code</a>
    <a href="https://doi.org/10.6084/m9.figshare.27308133" target="_blank" class="project-link">Data</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/Papers/ISBI24.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Automatic Endoscopy Classification by fusing Depth estimations and image Information </h3>
    <p> Oral Presentation at the IEEE International Symposium on Biomedical Imaging <strong>(ISBI) 2024</strong>. <br>
    <strong>Diego Bravo<sup>*</sup></strong>, Josué Ruano<sup>*</sup>, María Jaramillo, Sebastian Medina, Martín Gómez, Fabio A. González, and Eduardo Romero</p>
    <a href="/Papers/Endoscopy_ISBI_2024.pdf" target="_blank" class="project-link">PDF</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/Papers/ISBI_2024_Josue.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Estimating polyp size from a single colonoscopy image using a shape-from-shading model </h3>
    <p> Poster presentation at the IEEE International Symposium on Biomedical Imaging <strong>(ISBI) 2024</strong>.
      <br>
      Josué Ruano, <strong>Diego Bravo</strong>, Diana Giraldo, Martín Gómez, Fabio A. González, and Eduardo Romero
    </p>
  </div>
</div> 
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ site.baseurl }}/Papers/ISBI_2024_Mari.png" />

  </div>
  <div class="contents-right">
    <h3> Predicting metaplasia in upper gastrointestinal images from white light endoscopy </h3>
    <p> Poster presentation at the IEEE International Symposium on Biomedical Imaging <strong>(ISBI) 2024</strong>.
      <br>
      Maria Jaramillo, <strong>Diego Bravo</strong>, Martín Gómez, Fabio A. González, and Eduardo Romero
    </p>
  </div>
</div> 

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/Papers/SIPAIM_2023.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Automated Anatomical Classification and Quality Assessment of Endoscopy by Temporal-Spatial Analysis </h3>
    <p> Oral presentation at the IEEE International Symposium on Medical Information Processing and Analysis <strong>(SIPAIM) 2023</strong>.<br>
    <strong>Diego Bravo</strong>, Sebastian Medina, Josu ́e Ruano, María Jaramillo, Martín Gómez, Fabio A. González, and Eduardo Romero</p>
    <a href="/Papers/Endoscopy_SIPAIM_2023.pdf" target="_blank" class="project-link">PDF</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/Papers/ISBI_2023.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Automatic classification of esophagogastroduodenoscopy sub-anatomical regions</h3>
    <p> Oral presentation at the IEEE International Symposium on Biomedical Imaging <strong>(ISBI) 2023</strong>.<br>
    <strong>Diego Bravo</strong>, Josué Ruano, María Jaramillo, Daniel Gallego, Martín Gómez, Fabio A. González, and Eduardo Romero</p>
    <a href="/Papers/Endoscopy_ISBI_2023.pdf" target="_blank" class="project-link">PDF</a>
  </div>
</div>  

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/Papers/ISBI_2023_II.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Generating synthetic endoscopy videos following a systematic screening protocol </h3>
    <p> Oral presentation at the IEEE International Symposium on Medical Information Processing and Analysis <strong>(SIPAIM) 2023</strong>
      <br>
      Josué Ruano, <strong>Diego Bravo</strong>, María Jaramillo, Javier Pascau, Martín Gómez, Fabio A. González, and Eduardo Romero
    </p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/Papers/SIPAIM_2023_Mari.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Automatic Localization of Pancreatic Tumoral Regions in Whole Sequences of Echoendoscopy Procedures </h3>
    <p> Oral presentation at the IEEE International Symposium on Medical Information Processing and Analysis <strong>(SIPAIM) 2023</strong>
      <br>
      María Jaramillo, Josué Ruano, <strong>Diego Bravo</strong>, Sebastian Medina, Martín Gómez, Fabio A. González, and Eduardo Romero
    </p>
  </div>
</div> 