/* Dracula */
:root {
  --main-bg: #282a36;
  --bg-text: #313340;
  --text-color: #efefef;
  --accent-color: #bd93f9;
  --titlebar-bg: #1e1f29;
  --sidebar-bg: #343746;
  --sidebar-hover-bg: #3c3d51;
  --explorer-bg: #21222c;
  --explorer-hover-bg: #313241;
  --explorer-border: #161a1d;
  --tabs-bg: #191a21;
  --tab-bg: #21222c;
  --transparent-bg: rgba(33,34,44, 0.2);
  --tab-active-bg: #282a36;
  --tab-border: #191a21;
  --bottombar-bg: #191a21;
  --bottombar-border: #191a21;
  --button-bg: #44475a;
  --button-text: #f8f8f2;
  --bottombar-hover-bg: #4f4f52;
  --scrollbar-track-bg: #282a36;
  --scrollbar-thumb-bg: #454647;
  --article-bg: #21222c;
}

/* GitHub Dark */
[data-theme='github-dark'] {
  --main-bg: #24292e;
  --bg-text: rgba(56, 58, 61, 0.35);
  --text-color: #efefef;
  --accent-color: #f9826c;
  --titlebar-bg: #1f2428;
  --sidebar-bg: #24292e;
  --sidebar-hover-bg: #1f2428;
  --explorer-bg: #1f2428;
  --explorer-hover-bg: #24292e;
  --explorer-border: #161a1d;
  --tabs-bg: #1f2428;
  --transparent-bg: rgba(31, 36, 40, 0.2);
  --tab-bg: #1f2428;
  --tab-active-bg: #24292e;
  --tab-border: #24292e;
  --bottombar-bg: #24292e;
  --bottombar-border: #1b1f23;
  --button-bg: #176f2c;
  --button-text: #dcffe4;
  --bottombar-hover-bg: #4f4f52;
  --scrollbar-track-bg: #24292e;
  --scrollbar-thumb-bg: #333536;
  --article-bg: #1f2428;
}

/* Ayu Dark */
[data-theme='ayu-dark'] {
  --main-bg: #0a0e14;
  --bg-text: #101620;
  --text-color: #efefef;
  --accent-color: #e6b450;
  --titlebar-bg: #1f2428;
  --sidebar-bg: #0a0e14;
  --sidebar-hover-bg: #00010a;
  --explorer-bg: #0a0e14;
  --explorer-hover-bg: #00010a;
  --explorer-border: transparent;
  --tabs-bg: #0a0e14;
  --tab-bg: #0a0e14;
  --transparent-bg: rgba(10, 14, 20, 0.2);
  --tab-active-bg: #0a0e14;
  --tab-border: transparent;
  --bottombar-bg: #0a0e14;
  --bottombar-border: transparent;
  --button-bg: #e6b450;
  --button-text: #0a0e14;
  --bottombar-hover-bg: #4f4f52;
  --scrollbar-track-bg: #0a0e14;
  --scrollbar-thumb-bg: #454647;
  --article-bg: #10121a;
}

/* Nord */
[data-theme='nord'] {
  --main-bg: #2e3440;
  --bg-text: #3b414d;
  --text-color: #efefef;
  --accent-color: #88c0d0;
  --titlebar-bg: #1f2428;
  --sidebar-bg: #2e3440;
  --sidebar-hover-bg: #434c5e;
  --explorer-bg: #2e3440;
  --explorer-hover-bg: #434c5e;
  --explorer-border: rgba(136, 192, 208, 0.2);
  --tabs-bg: #2e3440;
  --tab-bg: #2e3440;
  --transparent-bg: rgba(46, 52, 64, 0.2);
  --tab-active-bg: #3b4252;
  --tab-border: transparent;
  --bottombar-bg: #3b4252;
  --bottombar-border: transparent;
  --button-bg: #434c5e;
  --button-text: #d8dee9;
  --bottombar-hover-bg: #4f4f52;
  --scrollbar-track-bg: #2e3440;
  --scrollbar-thumb-bg: #454647;
  --article-bg: #363f50;
}

/* Catppuccin Mocha */
[data-theme='catppuccin-mocha'] {
  --main-bg: #1e1e2e;
  --bg-text: #181825;
  --text-color: #cdd6f4;
  --accent-color: #cba6f7;
  --titlebar-bg: #11111b;
  --sidebar-bg: #181825;
  --sidebar-hover-bg: #313244;
  --explorer-bg: #181825;
  --explorer-hover-bg: #313244;
  --explorer-border: #313244;
  --tabs-bg: #11111b;
  --tab-bg: #181825;
  --transparent-bg: rgba(24, 24, 37, 0.2);
  --tab-active-bg: #1e1e2e;
  --tab-border: #313244;
  --bottombar-bg: #11111b;
  --bottombar-border: #313244;
  --button-bg: #cba6f7;
  --button-text: #1e1e2e;
  --bottombar-hover-bg: #313244;
  --scrollbar-track-bg: #1e1e2e;
  --scrollbar-thumb-bg: #585b70;
  --article-bg: #181825;
}

/* Tokyo Night */
[data-theme='tokyo-night'] {
  --main-bg: #1a1b26;
  --bg-text: #16161e;
  --text-color: #a9b1d6;
  --accent-color: #7aa2f7;
  --titlebar-bg: #16161e;
  --sidebar-bg: #16161e;
  --sidebar-hover-bg: #1f2335;
  --explorer-bg: #16161e;
  --explorer-hover-bg: #1f2335;
  --explorer-border: #1f2335;
  --tabs-bg: #16161e;
  --tab-bg: #16161e;
  --transparent-bg: rgba(22, 22, 30, 0.2);
  --tab-active-bg: #1a1b26;
  --tab-border: #1f2335;
  --bottombar-bg: #16161e;
  --bottombar-border: #1f2335;
  --button-bg: #7aa2f7;
  --button-text: #16161e;
  --bottombar-hover-bg: #1f2335;
  --scrollbar-track-bg: #1a1b26;
  --scrollbar-thumb-bg: #292e42;
  --article-bg: #16161e;
}

/* One Dark Pro */
[data-theme='one-dark-pro'] {
  --main-bg: #282c34;
  --bg-text: #21252b;
  --text-color: #abb2bf;
  --accent-color: #61afef;
  --titlebar-bg: #21252b;
  --sidebar-bg: #21252b;
  --sidebar-hover-bg: #2c313a;
  --explorer-bg: #21252b;
  --explorer-hover-bg: #2c313a;
  --explorer-border: #181a1f;
  --tabs-bg: #21252b;
  --tab-bg: #21252b;
  --transparent-bg: rgba(33, 37, 43, 0.2);
  --tab-active-bg: #282c34;
  --tab-border: #181a1f;
  --bottombar-bg: #21252b;
  --bottombar-border: #181a1f;
  --button-bg: #61afef;
  --button-text: #21252b;
  --bottombar-hover-bg: #2c313a;
  --scrollbar-track-bg: #282c34;
  --scrollbar-thumb-bg: #4b5263;
  --article-bg: #21252b;
}

/* Rosé Pine */
[data-theme='rose-pine'] {
  --main-bg: #191724;
  --bg-text: #1f1d2e;
  --text-color: #e0def4;
  --accent-color: #ebbcba;
  --titlebar-bg: #191724;
  --sidebar-bg: #1f1d2e;
  --sidebar-hover-bg: #26233a;
  --explorer-bg: #1f1d2e;
  --explorer-hover-bg: #26233a;
  --explorer-border: #26233a;
  --tabs-bg: #191724;
  --tab-bg: #1f1d2e;
  --transparent-bg: rgba(31, 29, 46, 0.2);
  --tab-active-bg: #191724;
  --tab-border: #26233a;
  --bottombar-bg: #191724;
  --bottombar-border: #26233a;
  --button-bg: #ebbcba;
  --button-text: #191724;
  --bottombar-hover-bg: #26233a;
  --scrollbar-track-bg: #191724;
  --scrollbar-thumb-bg: #403d52;
  --article-bg: #1f1d2e;
}